<!DOCTYPE html>
<html>

<head>
    <title>Diccionario</title>
    <!-- Latest compiled and minified CSS -->
    <!-- First include jquery js -->
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <style>
        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }


        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>
</head>
<% include static/head %>
</head>

<body>
    <% include static/navbar %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <h2><small class="text-muted">La palabra que estamos viendo es: </small><%= palabra.nombre %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <video width="100%" height="500" controls>
                    <source src="/static/videos/<%=palabra.url_video %>" type="video/mp4">
                </video>
            </div>
            <div class="col-sm-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="jumbotron" width="100%"
                                style="height: 480px;overflow-y: scroll;max-height:480px;min-width: 80%;">
                                <h3>Este video por motivos de revisión aun no forma parte del diccionario</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    //window.location.replace("/error");
    let palabra = "<%= palabra.palabra_id %>"
    let palabra1 = "<%= palabra.nombre %>"
    let palabra2 = "<%= palabra.letra %>"
    let palabra3 = "<%= palabra.url_video %>"
    let estado = "<%= palabra.estado %>"
    if (localStorage.getItem("usuariodiccionario") == undefined) {
        let palabra = "<%= palabra.palabra_id %>"
        window.location.replace("/vervideologout/"+palabra);
    }
    if(estado==2){
        window.location.replace("/vervideorechazado/"+palabra);
    }
    if(estado==1){
        window.location.replace("/vervideo/"+palabra);
    }
    
</script>
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>

</html>