<!DOCTYPE html>
<html>

<head>
    <title>Diccionario</title>
    <!-- Latest compiled and minified CSS -->
    <!-- First include jquery js -->
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <style>
        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }


        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>
</head>
<% include static/head %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <% include static/navbar %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <br>
                <h2><small class="text-muted">La palabra que estamos viendo es: </small><%= palabra.nombre %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 p-2">
                <video width="100%" height="500" style="border-radius: 20px!important" controls>
                    <source src="/static/videos/<%=palabra.url_video %>" type="video/mp4">
                </video>
            </div>
            <div class="col-xs-12 col-sm-4 p-2"  >
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="jumbotron" width="100%"
                                style="height: 380px;overflow-y: scroll;max-height:380px;min-width: 80%;border-radius: 20px!important" >
                                <ul class="list-group" id="chat">
                                
                                </ul>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 m-2">
                            <div class="card" id="cuadro" style="height: 100px;max-height: 100px; width: 100%; min-width:90%;border-radius: 15px!important">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-9">
                                                <input type="text" style="width: 95%;max-width: 95%;border-radius: 20px!important" id="nuevo_comentario" class="form-control"
                                                    placeholder="Comentario...">
                                            </div>
                                            <div class="col-xs-4 col-sm-3">
                                                <button class="btn btn-info" onclick="enviarcomentario()">
                                                    <i class="bi bi-chat-dots-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    //window.location.replace("/error");
    let palabra = "<%= palabra.palabra_id %>"
    let palabra1 = "<%= palabra.nombre %>"
    let palabra2 = "<%= palabra.letra %>"
    let palabra3 = "<%= palabra.url_video %>"
    let estado = "<%= palabra.estado %>"

    if (localStorage.getItem("usuariodiccionario") == undefined) {
        let palabra = "<%= palabra.palabra_id %>"
        window.location.replace("/vervideologout/"+palabra);
    }
    if(estado==0){
        window.location.replace("/vervideoespera/"+palabra);
    }
    if(estado==2){
        window.location.replace("/vervideorechazado/"+palabra);
    }
    document.querySelector('#nuevo_comentario').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            enviarcomentario();
        }
    });
    async function enviarcomentario() {
        let comentario = document.getElementById('nuevo_comentario').value;
        if(!comentario.trim()){
            
            return;
        }
        const timezoneOffset = (new Date()).getTimezoneOffset() * 60000;
        const date = (new Date(Date.now() - timezoneOffset))
            .toISOString()
            .substring(0, 19)
            .replace('T', ' ')       // replace T with a space
        let palabra_id = "<%= palabra.palabra_id %>"
        let usuario_id = localStorage.getItem("usuariodiccionario")
        let body = {
            contenido: comentario,
            fecha: date,
            palabra_id: palabra_id,
            usuario_id: usuario_id
        }
        await fetch('/api/v1/comentarios', {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(body),  // data can be `string` or {object}!
            headers: {
                'Content-Type': 'application/json'
            }
        }) // data can be `string` or {object}!})
            .then(function (response) {

                return response.json();
            })
            .then(function (myJson) {
                let resultado = myJson.find;
                console.log(myJson.result)
                document.getElementById('nuevo_comentario').value = ""
                getMensajes()
                


            });

    }
    async function getMensajes() {
        let palabra_id = "<%= palabra.palabra_id %>"
        var contador = 0;
        await fetch('/api/v1/comentarios/' + palabra_id, {
            method: 'GET', // or 'PUT'
        })
            .then(function (response) {

                return response.json();
            })
            .then(function (myJson) {
                let resultado = myJson.find;
                //console.log(myJson.result)
                let arreglo_resultado = myJson.result
                let lista = document.getElementById("chat");
                lista.innerHTML = "";
                
                arreglo_resultado.forEach(element => {
                    let node = document.createElement("LI");
                    node.setAttribute("class", "list-group-item")
                    node.setAttribute("id", "mensaje"+contador)
                    
                    let texto_lista = ''
                    const timezoneOffset = (new Date(element.fecha)).getTimezoneOffset() * 60000;
                    const temp = new Date(element.fecha)
                    const date = (new Date(temp - timezoneOffset))
                        .toISOString()
                        .substring(0, 19)
                        .replace('T', ' ')       // replace T with a space
                    //console.log(date)
                    texto_lista = "<p style=\"word-wrap: break-word;\">" + element.contenido + "</p><span class=\"time-left\">" +date + "</span>"
                    node.innerHTML = texto_lista;
                    let espacio = document.createElement("br");
                    document.getElementById("chat").appendChild(node);
                    document.getElementById("chat").appendChild(espacio);
                    contador=contador+1;
                });
                console.log(contador)
                var elmnt = document.getElementById("mensaje"+(contador-1));
                elmnt.scrollIntoView();
            });
    }
    getMensajes()
</Script>
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>

</html>